@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #dbe9ee;
}
/* CSS del HEADER */

.cabecera{
   
    display: grid;
    grid-template-columns: 10fr 1fr;
 
}
.cabecera-nombre{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
color: #4f6d7a;
text-transform: uppercase;
font-size: 10em;
font-family: 'Source Code Pro',sans-serif ;

}
.cabecera-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;

} 
.img-mediana{
    width: 600px; height: 800px;
    background-repeat: no-repeat;
    background-position: 20%;
    border-radius: 20%;
    background-size: 100% auto;
}
/* CSS de la FOTO y el TEXTO */
.cuerpo{
    background-color: #4f6d7a ;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 100px;
    border-top-width: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textazo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    color: #dbe9ee ;
    font-family: 'Source Code Pro',sans-serif ;
    text-align: center;
    font-size: 6em;
}
.biblio{
    color: #dbe9ee ;
    padding-top: 4%;
    font-size: 3em;
    text-align: center;
    font-family: 'Source Code Pro',sans-serif ;
    margin-right: 150px;
    margin-left: 150px;
}

/* Fotos y cuadricula */

.graella{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    text-align: center;
    padding: 1em;
}
.contender-graella{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.img-tec{
    width: 10em;
    height: 10em;
}


/* EFECTO MAQUINA DE ESCRIBIR */

.maquina {
	margin: auto;
    display: table;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.lerning { 
	position: relative; 
	float: left;
	background:  #dbe9ee;
	color: #4f6d7a;
	font-size: 2.5em;
}

.lerning span {
    position:absolute;
    right:0;
    width:0;
    background:  #dbe9ee ;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

